input {
  width: 360px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 0 8px 16px;
}

input:focus {
  outline: none;
  border: 2px solid #4e75ff;
}

input::placeholder {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
}

h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.96px;
}
